<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57617410456-ij3643krjd6174nia6ducihiv57osr6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57617410456-ij3643krjd6174nia6ducihiv57osr6f</string>
	<key>API_KEY</key>
	<string>AIzaSyA8_V2_RUiz-7Fz22zs3dc6KYJn50yhi0U</string>
	<key>GCM_SENDER_ID</key>
	<string>57617410456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.actividad</string>
	<key>PROJECT_ID</key>
	<string>actividad-a6484</string>
	<key>STORAGE_BUCKET</key>
	<string>actividad-a6484.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57617410456:ios:892fabee86800c57cf23ed</string>
</dict>
</plist>